################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Iceland_Moss/.vs/Iceland_Moss/v16
/Iceland_Moss/Iceland_Moss/obj
/Iceland_Moss/Iceland_Moss/bin
/Iceland_Moss/Iceland_Moss.Android/bin
/Iceland_Moss/Iceland_Moss.Android/obj
/Iceland_Moss/Iceland_Moss.UWP/obj
/Iceland_Moss/Iceland_Moss.UWP/bin
/Iceland_Moss/Iceland_Moss.iOS/bin
/Iceland_Moss/Iceland_Moss.iOS/obj
/Iceland_Moss/.vs/Iceland_Moss/DesignTimeBuild
