################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Iceland_Moss/.vs/Iceland_Moss/v16
/Iceland_Moss/Iceland_Moss/obj
/Iceland_Moss/Iceland_Moss/bin/Debug/netstandard2.0
/Iceland_Moss/Iceland_Moss.Android/bin/Debug
/Iceland_Moss/Iceland_Moss.Android/obj
/Iceland_Moss/Iceland_Moss.UWP/obj
/Iceland_Moss/Iceland_Moss.UWP/bin/x86/Debug
/Iceland_Moss/.vs/Iceland_Moss/DesignTimeBuild
